/* * @format */

body {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  background-color: rgb(163, 180, 194);
  margin: 0;
  padding: 0;
}

.container {
  padding: 8px 20px;
  margin: 100px auto;
  border: 5px solid brown;
  border-radius: 8px;
  max-width: 800px;
  background-color: antiquewhite;
  box-shadow: 5px burlywood;
}

.title {
  text-align: center;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: brown;
  font-weight: bold;
  text-transform: uppercase;
  width: 90%;
  word-spacing: 2px;
}

input {
  width: 80%;
  padding: 8px 15px;
  border: 2px solid brown;
  border-radius: 8px;
  margin: 8px;
}

button {
  text-decoration: none;
  border: 2px;
  word-spacing: 2px;
  color: white;
  background-color: brown;
  padding: 8px 10px;
  border-radius: 8px;
  box-sizing: 5px white;
  margin: 5px;
  text-transform: uppercase;
  transition: 0.5s;
  transition-delay: 0.3s;
}

button:hover {
  color: brown;
  background-color: aquamarine;
  border-radius: 8px;
}

input::placeholder {
  text-align: center;
  color: brown;
  text-transform: uppercase;
  word-spacing: 2px;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  border-bottom: 2px solid brown;
  padding: 12px;
}

li:last-child {
  border-bottom: none;
}

@media only screen and (max-width:600px){
    button{
       margin-left: 100px;
    }
}
